aiohttp
anytree
https://github.com/Aanchal101/sria/archive/refs/heads/master.zip
appdirs
attrdict
beautifulsoup4
cloudscrape
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
hachoir
js2py
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
https://github.com/Aanchal101/shanti-api/archive/refs/heads/master.zip
requests
https://github.com/Aanchal101/gatijaanh/archive/refs/heads/master.zip
telegraph
tenacity
TgCrypto
https://github.com/Aanchal101/gazetitoo-l/archive/refs/tags/v1.1.0.zip
urllib3
https://github.com/Aanchal101/tube/archive/refs/heads/master.zip
